@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Fira Code, monospace;
  color: white;
  background-color:  #282C33;
  /* background-image: linear-gradient(to right, black , #1d2920); */
}

h1 {
  margin: 10vh 10vw;
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

.green {
  color: #95EBA8;
}

.golden {
  color: #FFE713;
  font-size: 13px;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.06);;
  border-radius: 20px;
  margin: 5rem auto;
  max-width: 80vw;
  padding-bottom: 20px;
}

#currency-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  min-width: 1476.8px;
  min-height: 500px;
  padding: 25px;
}

.value-container {
  display: flex;
  width: 160px;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);;
  border-radius: 5px;
}

input {
  padding: 10px;
  width: 171px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.06);;
  border: none;
  border-radius: 10px;
  font-family: Fira Code, monospace;
  font-size: 20px;
  color: white;

}

.green-btn {
  width: 171px;
  height: 48px;
  background-color: #96EB95;
  border: 1px solid #96EB95;
  border-radius: 10px;
  font-family: Fira Code, monospace;
  color: #373737;
  font-size: 20px;
  font-weight: 700;
}

.green-btn:hover {
  background-color: #81ff7e;
  color: black;
  cursor: pointer;
}

.green-btn:active {
  box-shadow: inset 0 0 4px black;
}

.row-container {
  margin: 10px 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 360px;
}

label {
  margin: 0 10vw;
}